<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Russo+One&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="sitestyle.css" media="screen" />
    <script src="/scripts/indexTypeNavScript.js"></script>
    <script src="/scripts/cardscript.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учи Лесно</title>

      
    <nav id="nav">

        <div style="margin-right: 1.042vw;margin-left: 10px;padding-top:10px;">
    
        <a href="index.html">
    
            <img id="logo" src="/assets/Uchi_Lesno_2025.png">
    
    
    
        </a>
    
        <div id="loginButton">
    
            <a href="login.html">
    
                <p>
    
                    Вход
    
                </p>


    
                                        
            </a>
    
    
    
        </div>
    
        <div id="registerButton">
    
            <a href="register.html">
    
                <p>
    
                    Регистрирация
    
                </p>


    
                                        
            </a>
    
    
        </div>
    
        <table id="links">
    
            <tr>
    
                <td>
    
                    <a href="">
    
                        <p id="home">
                            Начало
                        </p>
    
                        <img id="backIcon" src="/icons/home-svgrepo-com (1).svg">
    
                    </a>
    
                </td>
                <td>
    
                    <a href="aboutUs.html">
    
                        <p id="aboutUs">
                            За нас
                        </p>
                        <img  id="aboutUsIcon"  src="/icons/infoIcon.svg">
    
                    </a>
    
                </td>
                
                <td>
    
                    <a href>
    
                        <p id="contacts">
                            Контакти
                        </p>
                        <img  id="contactsIcon"  src="/icons/contactsIcon.svg">
    
                    </a>
    
                </td>
    
                <td>
    
                    <a href>
    
                        <p id="socials">
                            Социални мрежи
                        </p>
                        <img id="socialsIcon"  src="/icons/socialsIcon.svg">
    
                    </a>
    
                </td> 
    
            </tr>
        </table>
    
    
    
    
    </nav>

</head>
<body>

    <div style="height: 150px;">
        
            
    </div>  

    <div id="infoCards">

        <div id="card1">

            <a href="#UchiLesno">

                <h1 style="background-image: url(/assets/Учи\ лесно\ \(8\).png);">

                    Учи лесно
                </h1>

            </a>

        </div>

        <div id="card2" style="background: rgb(70, 138, 216);">

            <a href="#ourTeam">

                <h1 style="background-image: url(/icons/teamIcon.svg);">

                    Отборът ни
                </h1>

            </a>

        </div>

        <div id="card3">

            <a href="#goal">

                <h1 style="background-image: url(/icons/goalsIcon.svg);">

                    Целта ни
                </h1>

            </a>

        </div>

        <div id="card4" style="background: rgb(70, 138, 216);">

            <a href="#futurePlans">

                <h1 style="background-image: url(/icons/futurePlansIcon.svg);">

                    Бъдещи планове

                </h1>

            </a>

        </div>

        <div id="card5">

            <a href="#monke">

                <h1 style="background-image: url(/icons/teamIcon.svg);">

                    Маймуни на голф колички

                </h1>

            </a>

                            
        </div>


        <div id="card6" style="background: rgb(70, 138, 216);">
            <a href="#news">

                <h1 style="background-image: url(/icons/newsIcon.svg);">

                    Новини

                </h1>

            </a>

        </div>
        

    </div>

    <div style="height: 10.417vw;">
            
                
    </div>  

    <div id="info" style="display: flex;flex-direction: column;">

        <div id="UchiLesno">

            <h1 style="text-align: left;">
    
                Учи лесно
            </h1>

                <p>
                    "Учи лесно" е ново уеб приложение, създадено да улесни Вашия живот. То приема вход от потребителя и, на базата на него, съставя програма за учене и преговаряне. При регистрация от потребителя не се изисква нищо друго освен постоянство и редовно посещаване на уебсайта.
                </p>
    
        </div>

    </div>
    
    <div id="ourTeam">

            <h1 style="text-align: left;grid-row-start: 1;grid-row-end: 2;grid-column-start: 1;grid-column-end: 2;">
    
                Отборът ни
            </h1>

            <div  style="grid-row-start: 1;grid-row-end: 2;grid-column-start: 2;grid-column-end: 3;">


                <p>

                    Ние сме Цветан Желев и Йордан Драгиев, ученици в 9в клас от ПГКМКС "Акад. Благовест Сендов" гр. Варна.  Нашият ръководител е Пламена Янева. Ние стоим зад разработката на Учи лесно.

                </p>

                
                <div style="padding-top: 2.604vw;">

                </div>

                <div id="ourTeamImg">


                        <img style="grid-column-start: 1;grid-column-end: 2;" src="/assets/JordanDragievImg.png">
                        <img style="grid-column-start: 2;grid-column-end: 3;" src="/assets/TsvetanJelevImg.png">

                </div>


            </div>  
    
        </div>

        <div id="goal">

            <h1 style="text-align: left;">
    
                Целта ни
            </h1>

            <p>
                Тя е да облекчим натоварването върху обикновения човек, като му съставим програма за работа в базирано на неговите събития и характеристики. С нашите идеи целим да предоставим удобно онлайн средство за работа.
            </p>
    
        </div>

        <div id="futurePlans">

            <h1 style="text-align: left;">
    
                Бъдещи планове
            </h1>

            <p>

                Очакват се редовни ъпдейти на приложенеито, които биха включили нови функции като система с награди и добавяне на дизайн елементи като реактивно поле с предстоящи събития, страница със статистики.
            </p>
    
        </div>

        <div id="monke" >

            <h1 style="text-align: left;">
    
                Маймуни на голф колички
            </h1>

    
        </div>

        <div id="aboutUsNews">

            <h1 style="text-align: left;">
    
                Новини
            </h1>

            <p>
                Тази секция предстои да се напълни с новини за разработката на приложението.
            </p>
    
        </div>

    </div>



        
        </div>

        <div style="padding-top: 100px;">

        </div>
   
    <footer>

        <div id="UchiLesnoFooter">

            <img style="height: 150px;width: 115px;" src="/assets/Uchi_Lesno_2025_Crop.png">

            <h1>
                
                Учи лесно
                
            </h1>


        </div>




        <div id="website">

            <h1 style="text-align: left;font-size: 40px;">
                Учи лесно
            </h1>

            <p>
                За сайта
            </p>

            <p>
                Отборът ни
            </p>

            <p>
                Правила и условия
            </p>

        </div>

        <div id="reachOut">

            <h1 style="text-align: left;font-size: 40px;">
                Свържете се
            </h1>

            <p>
                Социални мрежи
            </p>

            <p>
                Имейл
            </p>

            <p>
                Телефон
            </p>

        </div>

        <div id="navigation">

            <h1 style="text-align: left;font-size: 40px;">
                Навигация
            </h1>

            <p>
                Начало
            </p>

        </div>

    </footer>   
    
    </body>
    </html>