<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Russo+One&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Tilt+Warp&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="sitestyle.css" media="screen" />
    <script src="/scripts/indexscript.js"></script>
    <script src="/scripts/indexTypeNavScript.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учи лесно</title>
    






</head>
<body>

    <nav id="nav">

        <div style="margin-right: 1.042vw;margin-left: 10px;padding-top:10px;">
    
        <a href="index.html">
    
            <img id="logo" src="/assets/Uchi_Lesno_2025.png">
    
    
    
        </a>
    
        <div id="loginButton">
    
            <a href="login.html">
    
                <p>
    
                    Вход
    
                </p>


    
                                        
            </a>
    
    
    
        </div>
    
        <div id="registerButton">
    
            <a href="register.html">
    
                <p>
    
                    Регистрирация
    
                </p>


    
                                        
            </a>
    
    
        </div>
    
        <table id="links">
    
            <tr>
    
                <td>
    
                    <a href="">
    
                        <p id="home">
                            Начало
                        </p>
    
                        <img id="backIcon" src="/icons/home-svgrepo-com (1).svg">
    
                    </a>
    
                </td>
                <td>
    
                    <a href="aboutUs.html">
    
                        <p id="aboutUs">
                            За нас
                        </p>
                        <img  id="aboutUsIcon"  src="/icons/infoIcon.svg">
    
                    </a>
    
                </td>
                
                <td>
    
                    <a href>
    
                        <p id="contacts">
                            Контакти
                        </p>
                        <img  id="contactsIcon"  src="/icons/contactsIcon.svg">
    
                    </a>
    
                </td>
    
                <td>
    
                    <a href>
    
                        <p id="socials">
                            Социални мрежи
                        </p>
                        <img id="socialsIcon"  src="/icons/socialsIcon.svg">
    
                    </a>
    
                </td> 
    
            </tr>
        </table>
    
    
    
    
    </nav>
    

    <div id="indexBanner">

        <div id="indexBannerContent">


            <h1>

                Отстранете тревогата за контролните само с 1 регистрация

            </h1>

            <p>

                Върнете си контрола над времето и се насладете на повече почивка.

            </p>


                
            <button id="regbutton">
                <a href="register.html">
    
                    Регистрирайте се
    
                </a>
            </button>
        

        <!-- <div id="quotes">
            
            <p id="umencitat1" style="font-style: italic;text-align: center;position: relative;">
                "Ако не сега, тогава кога?"
            </p>
    
            <p id="umencitat2" style="font-style: italic;text-align: center;position: relative;display: none;">
                "Никога не казвай 'Някой ден…' Сега е моментът." – Пам Браун
            </p>
    
            <p id="umencitat3" style="font-style: italic;text-align: center;position: relative;display: none;">
                "За нас не трябва да има никакви граници." - Ричард Бах
            </p>
    
            <p id="umencitat4" style="font-style: italic;text-align: center;position: relative;display: none;">
                "Контролът над времето е контрол над живота."
            </p>
    
            <p id="umencitat5" style="font-style: italic;text-align: center;position: relative;display: none;">
                "Тик ток тик ток"
            </p>
    
            </div> -->
        <!-- <table id="imageRoulette">

            <tr>

                <td>

                    <div style="float: left;" id="leftShowcaseImg"> </div>

                </td>

                <td>

                    <img id="showcaseImg1" style="display: block;" src="/assets/Screenshot 2025-02-22 214413.png">

                </td>

                <td>

                    <img id="showcaseImg2" src="/assets/Screenshot 2025-02-23 112712.png">
                    
                </td>

                <td>

                    <img id="showcaseImg3" src="https://cdn.prod.website-files.com/62b0e6308cc691625470b227/62dec0259f18b71442a15966_Apple-Logo.png">
                    
                </td>

                <td>

                    <img id="showcaseImg4" src="https://cdn.mos.cms.futurecdn.net/xCZ2VwHz6pDUHCSVvaQsDT-1200-80.jpg">
                    
                </td>

                <td>

                    <img id="showcaseImg5" src="https://m.media-amazon.com/images/I/31dke4F+cTL.jpg">
                    
                </td>

                <td>



                    
                    <div style="float: right;" id="rightShowcaseImg"> </div>

                </td>

            </tr>
            

        </table> -->




        </div>
    </div>

    <div style="height: 10.417vw;">
        
            
    </div>

    <div id="enticing">

        <div style="background: rgb(74, 163, 236);">

            <h1>

                Организирайте събитията си лесно и удобно.
            </h1>

            <video height="150px" autoplay>
                <source src="/videos/Preview 1.mp4">
            </video>

        </div>

    <div style="height: 100px;">
  
    </div>  

        <div style="background: rgb(67, 134, 221);">

            <h1>

                Интегрирайте ги в календара си.
            </h1>

            <video height="150px">
                <source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/HJpjKMlmgiw923pte/videoblocks-silhouettes-of-father-mother-and-children-hiking-baby-sits-on-the-shoulders-of-his-father-hiking-backpackers-trekking-mountains-summer-young-family-on-travel-adventure-vacation_hu5xbubiq__7b7a8de5e60f9ca35c7b6d8a3a24115c__P360.mp4">
            </video>

        </div>

    <div style="height: 100px;">
        
    </div>  

        <div style="background: rgb(58, 117, 206);">

            <h1>

                Времето тече... сега
            </h1>

            <video height="100px" autoplay>
                <source src="">
            </video>

        </div>

    <div style="height: 25px;">
        
            
    </div>  

    

    <div id="infoDiv" style="background: rgb(49, 104, 187);">

        <h1>
            За повече информация
        </h1>



        <a href="aboutUs.html">

            <img id="infoImg" style="" src="/icons/infoIcon.svg">
            
        </a>


    </div>

    </div>

    <div style="height: 100px">
        
            
    </div>  

    
    <!-- <div id="indexCards">

        <div>

            <h1 style="background-image: url(teamIcon.svg);">

                Отборът на Учи лесно
            </h1>


        </div>

        <div>

        </div>

        <div>

        </div>

    </div> -->

    <!-- <div id="questions">



            <div>

                <p>

                    - Сблъсквате се със затруднения при ученето?
        
                </p>

                <p>

                    - Искате да се фокусирате на училището?
        
                </p>

                <p>

                    - Търсите мотивация да учите?
        
                </p>

                <p>

                    - Нямате време да организирате подготовката си за тестовете?
        
                </p>

                <p>
                    - Желаете да сте спокойни за изпитите си?
                </p>

            </div>

            <div>

                <h1>
                    Учи лесно е решението!
                </h1>

                <img style="height: 5.208vw;margin: auto;display: block;" src="/assets/Учи лесно (8).png">

            </div>

            <div style="background-color: rgba(6, 19, 116, 0.336);margin: 1.563vw;border-radius: 1.042vw;">

                <p>
                    
                    Учи лесно е средство за съсредоточаване върху ученето. Уеб приложението цели да улесни подготовката за тестове или изпити като създава персонализирана програма за учене. Програмата се създава базирано на вида ученик. Правейки регистрация от потребителя не се очаква нищо друго, освен постоянство и редовно посещаване на сайта.
                </p>
            </div>



        </div> -->



    <div style="padding-top: 100px;">

    </div>
    


    <footer>

        <div id="UchiLesnoFooter">

            <img style="height: 150px;width: 115px;" src="/assets/Uchi_Lesno_2025_Crop.png">

            <h1>
                
                Учи лесно
                
            </h1>


        </div>




        <div id="website">

            <h1 style="text-align: left;font-size: 40px;">
                Учи лесно
            </h1>

            <p>
                За сайта
            </p>

            <p>
                Отборът ни
            </p>

            <p>
                Правила и условия
            </p>

        </div>

        <div id="reachOut">

            <h1 style="text-align: left;font-size: 40px;">
                Свържете се
            </h1>

            <p>
                Социални мрежи
            </p>

            <p>
                Имейл
            </p>

            <p>
                Телефон
            </p>

        </div>

        <div id="navigation">

            <h1 style="text-align: left;font-size: 40px;">
                Навигация
            </h1>

            <p>
                Начало
            </p>

        </div>

    </footer>   
</body>
</html>